.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);

  .image {
    flex: 1 1 42rem;
    text-align: center;

    img {
      height: 50rem;
      width: 50rem;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

  .content {
    flex: 1 1 42rem;

    h3 {
      font-size: 3rem;
    }

    span {
      display: block;
      font-size: 3rem;
      color: var(--red-800);
      padding: 0.5rem 0;
    }

    p {
      font-size: 1.5rem;
      color:var(--gray-100);
      padding: 1rem 0;
      line-height: 2;
    }
  }
}

.linkButton {
  display: inline-block;
  margin-top: 1rem;
  background: var(--red-800);
  color: var(--white);
  padding: 0.7rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  padding-left: 2rem;

  div {
    display: flex;
    align-items: center;

    svg {
      height: 4rem;
      width: 4rem;
      padding: 1rem;
      background: var(--white);
      color: var(--red-800);
      border-radius: 50%;
      margin-left: 1rem;
      transition: .2s linear;
    }
  }

  &:hover svg {
    margin-left: 2rem;
  }
}
