.box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--gray-800);
  box-shadow: var(--box-shadow-black);

  .image:hover img {
    transform: scale(1.2);
  }

  .image {
    height: 25rem;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.4s linear;
    }
  }
}
