.navbarContainer {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;

  align-items: flex-end;

  a {
    background: var(--gray-800);
    color: var(--white);

    text-align: center;

    flex: 1;

    padding: 2rem;
    font-size: 2rem;

    transition: 0.4s linear;

    i {
      color: var(--red-800);
      padding-right: 0.5rem;
    }
  }

  a:hover {
    background: var(--red-800);

    padding-bottom: 6rem;

    i {
      color: var(--white);
    }
  }

  @media(max-width: 768px) {
    a i {
      padding: 0;
    }

    a span {
      display: none;
    }

    a:hover {
      padding-bottom: 2rem;
    }
  }
}
